@import "variables";
@import "mixins";

html[data-theme="light"] {
  --primary: #{$light-primary};
  --primary-content: #{$light-primary-content};
  --secondary: #{$light-secondary};
  --secondary-content: #{$light-secondary-content};
  --neutral: #{$light-neutral};
  --neutral-content: #{$light-neutral-content};
  --base: #{$light-base};
  --base2: #{$light-base2};
  --base3: #{$light-base3};
  --base-content: #{$light-base-content};
  --info: #{$light-info};
  --error: #{$light-error};
  --success: #{$light-success};
  --warning: #{$light-warning};
}

html[data-theme="dark"] {
  --primary: #{$dark-primary};
  --primary-content: #{$dark-primary-content};
  --secondary: #{$dark-secondary};
  --secondary-content: #{$dark-secondary-content};
  --neutral: #{$dark-neutral};
  --neutral-content: #{$dark-neutral-content};
  --base: #{$dark-base};
  --base2: #{$dark-base2};
  --base3: #{$dark-base3};
  --base-content: #{$dark-base-content};
  --info: #{$dark-info};
  --error: #{$dark-error};
  --success: #{$dark-success};
  --warning: #{$dark-warning};
}
