@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap");
@import "./assets/styles/settings.scss";
@import "./Pages/Client/client.scss";
@import "./Pages/Admin/admin.scss";
@import "./Pages/Auth/auth.scss";

#root {
  background-color: var(--base);
  color: var(--base-content);
  width: 100vw;
  min-height: 100vh;
  @include flex(column, normal, normal, 0);
  * {
    font-family: "Montserrat", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat Alternates", sans-serif;
  }
  .theme-toggle {
    position: relative;
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 1.9rem;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    input:checked + .slider {
      background-color: var(--primary);
    }
    input:focus + .slider {
      box-shadow: 0 0 1px var(--primary);
    }
    input:checked + .slider:before {
      content: "🌛";
      transform: translateX(1.5rem);
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--neutral);
      border-radius: 1rem;
      @include transition(0.3s);
      &:before {
        position: absolute;
        content: "🔆";
        height: 1.5rem;
        width: 1.5rem;
        left: 0.2rem;
        bottom: 0.2rem;
        background-color: var(--base);
        border-radius: 1rem;
        @include transition(0.3s);
      }
    }
  }
  a {
    text-decoration: none;
    @include transition(0.3s);
    font-size: 1.2rem;
    color: var(--base-content);
    &:visited {
      color: inherit;
    }
    &:hover {
      text-shadow: 0 0 1rem var(--base-content);
      color: var(--primary);
    }
    &.active {
      color: var(--primary);
    }
  }
  button {
    cursor: pointer;
  }
  #toast {
    position: fixed;
    top: 8rem;
    right: -100%;
    opacity: 0;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 9999;
    color: var(--neutral);
    @include transition(0.5s);
  }
  .success {
    background-color: var(--success);
    animation: slide 5s forwards;
  }
  .error {
    background-color: var(--error);
    animation: slide 5s forwards;
  }

  @keyframes slide {
    0% {
      right: -100%;
      opacity: 0;
    }
    15% {
      right: 2.5rem;
      opacity: 1;
    }
    50% {
      right: 2.5rem;
      opacity: 1;
    }
    100% {
      right: -100%;
      opacity: 0;
    }
  }
  #contact {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba($light-neutral, 0.5);
    z-index: 99;
    section {
      @include flex(column, center, center, 1rem);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      height: fit-content;
      padding: 1rem;
      border-radius: 1rem;
      z-index: 100;
      background-color: var(--base);
      color: var(--base-content);
      h3 {
        height: 2.5rem;
        font-size: 1.2rem;
        @include md {
          font-size: 2rem;
        }
        @include lg {
          font-size: 2.5rem;
        }
        font-weight: bold;
        margin: 0 3rem 0 0;
      }
      .closeBtn {
        position: absolute;
        top: 2.2rem;
        right: 1rem;
        cursor: pointer;
        font-weight: bold;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100%;
        @include transition(0.3s);
        z-index: 101;
        border: var(--error) solid 1px;
        color: var(--error);
        background-color: var(--base);
        &:hover {
          color: var(--neutral);
          border: 1px solid var(--error);
          background-color: var(--error);
        }
      }
      #contactForm {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
        margin: 2rem;
        label {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          font-size: 1.1rem;

          input,
          textarea {
            padding: 0.7rem;
            border-radius: 0.5rem;
            background-color: var(--base3);
            border: 1px solid var(--neutral-content);
          }

          .inputError {
            border: var(--error) solid 2px;
          }

          span {
            font-size: 0.8rem;
            color: var(--error);
          }
        }
        button {
          padding: 1rem 0;
          border-radius: 0.5rem;
          font-weight: bold;
          @include transition(0.3s);
          background-color: var(--primary);
          color: var(--primary-content);
          border: 1px solid var(--primary);

          &:hover {
            background-color: var(--base);
            color: var(--primary);
            border: 1px solid var(--primary);
          }
        }
      }
    }
  }
}
