<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Archipix est une plateforme de stockage de fichiers en toute simplicité." />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon-0pIRbcVk.svg" />
    <title>ArchiPix</title>
    <script type="module" crossorigin src="/assets/index-2Ler2AaW.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-Ef2cJCEM.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
