@import "../../assets/styles/settings.scss";
#client {
  width: 100%;
  @include flex(column, normal, center, 0);
  flex-grow: 1;
  .icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: var(--primary);
  }
  .logo {
    height: 3rem;
    fill: none;
    stroke: var(--primary);
    display: none;
    @include sm {
      display: block;
    }
  }
  .logo {
    height: 3rem;
    fill: none;
    stroke: var(--primary);
    display: none;
    @include sm {
      display: block;
    }
  }
  header,
  footer {
    width: 100%;
    height: 5rem;
    @include flex(row, normal, center, 0);
    padding: 1rem;
    background-color: var(--base3);
    color: var(--base-content);
    box-shadow: var(--neutral) 0 0 1rem;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      flex-grow: 1;
      text-align: center;
      @include lg {
        text-align: inherit;
        flex-grow: inherit;
        font-size: 2.5rem;
      }
    }
    nav {
      display: none;
      @include lg {
        @include flex(row, flex-end, center, 1rem);
      }
      flex-grow: 1;
      button {
        background-color: transparent;
        border: none;
        @include transition(0.3s);
        font-size: 1.2rem;
        color: var(--error);
        &:hover {
          text-shadow: 0 0 1rem var(--error);
        }
      }
    }
    .mobile-nav {
      display: block;
      position: fixed;
      z-index: 100;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#4c566a, 0.8);
      color: var(--base-content);
      @include lg {
        display: none;
      }
      div {
        @include flex(column, normal, center, 1rem);
        height: 100%;
        width: 80%;
        padding: 1rem;
        @include md {
          width: 50%;
        }
        background-color: var(--base3);
      }
      ul:first-child {
        @include flex(row, space-between, flex-start, 1rem);
        width: 100%;
        font-size: 1.5rem;
        h3 {
          font-weight: bold;
        }
      }
      ul:last-child {
        @include flex(column, normal, center, 1rem);
        width: 100%;
        font-size: 1.2rem;
        button {
          background-color: transparent;
          border: none;
          @include transition(0.3s);
          font-size: 1.2rem;
          color: var(--error);
          &:hover {
            text-shadow: 0 0 1rem var(--error);
          }
        }
      }
    }
  }
  main {
    margin-top: 6.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: var(--neutral) 0 0 2px;
    @include flex(column, normal, center, 0);
    width: 100%;
    @include lg {
      width: 80%;
    }
    flex-grow: 1;
    background-color: var(--base2);
  }
  footer {
    height: fit-content;
    section {
      width: 80%;
      @include flex(column, space-around, center, 1rem);
      margin: 0 auto;
      @include lg {
        flex-direction: row;
      }
      aside {
        @include flex(column, normal, center, 1rem);
      }
      nav,
      div {
        @include flex(column, normal, center, 1rem);
      }
      h4 {
        font-weight: bold;
        font-size: 1.5rem;
      }
      nav button {
        background-color: transparent;
        border: none;
        @include transition(0.3s);
        font-size: 1.2rem;
        color: var(--base-content);
        &:hover {
          color: var(--primary);
          text-shadow: 0 0 1rem var(--base-content);
        }
      }
    }
  }
}
#error {
  @include flex(column, normal, center, 1rem);
  flex-grow: 1;
  height: 100%;
  width: 100%;

  article {
    @include flex(column, center, center, 1rem);
    flex-grow: 1;
    width: 80%;

    h3 {
      @include lg {
        font-size: 2.5rem;
      }
      font-size: 2rem;
      font-weight: bold;
    }
    p {
      @include lg {
        font-size: 1.5rem;
      }
      font-size: 1rem;
    }
  }
}
#mentions,
#politique {
  @include flex(column, normal, normal, 1rem);
  padding: 1rem;
  width: 100%;
  :nth-child(2),
  h3 {
    text-align: center;
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  ul {
    text-align: center;
  }
  a {
    &:hover {
      cursor: pointer;
    }
  }
}
#politique {
  ul {
    text-align: inherit;
    :nth-child(2) {
      text-align: inherit;
    }
  }
}
#share {
  @include flex(column, normal, center, 1rem);
  flex-grow: 1;
  padding: 0 1rem;
  width: 100%;
  article {
    @include flex(column, center, center, 1rem);
    flex-grow: 1;
    width: 100%;
    h3 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      @include md {
        font-size: 2rem;
      }
      @include lg {
        font-size: 2.5rem;
      }
    }
  }
}
#home {
  @include flex(column, normal, center, 1rem);
  flex-grow: 1;
  padding: 0 1rem;
  width: 100%;
  article:first-child {
    figure {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  article:last-child {
    @include flex(column, center, normal, 1rem);
    h3 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }
  }
}
#share-folder {
  h3 {
    width: 100%;
  }
}
#files,
#share-folder {
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    @include md {
      font-size: 2rem;
    }
    @include lg {
      font-size: 2.5rem;
    }
  }
  width: 100%;
  padding: 1rem;
  flex-grow: 1;
  @include flex(column, normal, flex-start, 1rem);
  article:first-child {
    width: 100%;
    @include flex(column, normal, center, 1rem);
    @include md {
      @include flex(row, space-between, center, 1rem);
    }
    h3 {
      font-size: 2rem;
      font-weight: bold;
    }
    .head-add-file,
    .head-close-add-file {
      @include flex(row, normal, center, 1rem);
      cursor: pointer;
      color: var(--base-content);
      @include transition(0.3s);
      font-size: 1.2rem;
      @include md {
        font-size: 1.5rem;
      }
      @include lg {
        font-size: 2rem;
      }
      svg {
        font-size: 1.2rem;
        @include md {
          font-size: 1.5rem;
        }
        @include lg {
          font-size: 2rem;
        }
      }
    }
    .head-add-file {
      &:hover {
        color: var(--primary);
      }
    }
    .head-close-add-file {
      &:hover {
        color: var(--error);
      }
    }
    .viewMode {
      @include flex(row, normal, center, 1rem);
      cursor: pointer;
      @include transition(0.3s);
      @include lg {
        font-size: 1.5rem;
      }
      p {
        display: none;
        @include md {
          display: block;
        }
      }
      .viewModeSelector {
        @include flex(row, normal, center, 1rem);
        @include transition(0.3s);
        border: 1px solid var(--base-content);
        border-radius: 0.5rem;
        padding: 0.5rem 0.7rem;
        color: var(--base-content);

        .active {
          @include transition(0.3s);
          color: var(--primary);
        }
      }
    }
  }
  .list-view {
    font-size: 1.2rem;
    @include lg {
      font-size: 1.5rem;
    }
    width: 100%;
    ul {
      width: 100%;
      @include flex(column, normal, normal, 0);
      li {
        width: 100%;
        input[type="checkbox"] {
          margin-right: 0.5rem;
          cursor: pointer;
          width: 1rem;
          height: 1rem;
          @include lg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        @include flex(row, space-between, center, 0);
        cursor: pointer;
        @include transition(0.3s);
        &:hover {
          background-color: rgba(#4c566a, 0.2);
        }
        div {
          @include flex(row, space-between, center, 0.5rem);
          flex-grow: 1;
          margin-right: 1rem;
          max-width: 50%;
          @include sm {
            max-width: 70%;
          }
          @include lg {
            max-width: 80%;
          }
          :first-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          :last-child {
            display: none;
            @include sm {
              display: block;
            }
          }
        }
        .download-button,
        .delete-icon,
        .share-icon {
          color: var(--base-content);
          background: transparent;
          border: none;
          cursor: pointer;
          z-index: 10;
          @include transition(0.3s);
        }
        .download-button {
          &:hover {
            color: var(--primary);
          }
        }
        .delete-icon {
          &:hover {
            color: var(--error);
          }
        }
        .share-icon {
          &:hover {
            color: var(--info);
          }
        }
      }
    }
  }
  .grid-view {
    @include flex(column, center, center, 1rem);
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem;
    @include md {
      @include flex(row, normal, center, 1rem);
    }
    div {
      @include flex(column, normal, center, 0);
      background-color: var(--base3);
      border: 1px solid var(--base-content);
      border-radius: 0.5rem;
      width: 90%;
      @include md {
        margin: auto;
        width: 45%;
      }
      @include lg {
        margin: 0;
        width: calc(100% / 4 - 1rem);
      }
      position: relative;
      input[type="checkbox"] {
        background: var(--base);
        border: 1px solid var(--base-content);
        border-radius: 0.5rem;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        z-index: 10;
      }
      .download-button {
        color: var(--base-content);
        background: var(--base3);
        border: 1px solid var(--base-content);
        border-radius: 0.5rem;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 10;
        @include transition(0.3s);
        &:hover {
          color: var(--primary);
        }
      }
      .share-icon {
        color: var(--base-content);
        background: var(--base3);
        border: 1px solid var(--base-content);
        border-radius: 0.5rem;
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 10;
        @include transition(0.3s);
        &:hover {
          color: var(--info);
        }
      }
      .loader {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 2rem;
        height: 2rem;
        border: 2px solid var(--primary);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        margin: 0.2rem;
      }
    }
    .grid-folder {
      border: none;
      @include transition(0.3s);
      &:hover {
        cursor: pointer;
        text-shadow: 0 0 1rem var(--base-content);
      }
    }
    .grid-folder-icon {
      font-size: 5rem;
      color: var(--primary);
    }
    p {
      font-size: 1rem;
      @include md {
        font-size: 1.2rem;
      }
      @include lg {
        font-size: 1.5rem;
      }
    }
    .grid-file-container {
      flex-grow: 1;
      .grid-file {
        width: 100%;
        border: none;
        img,
        video {
          width: 100%;
          height: 10rem;
          object-fit: cover;
          border-radius: 0.5rem;
          @include transition(0.3s);
          &:hover {
            cursor: pointer;
            transform: scale(1.02);
            border: 1px solid var(--base-content);
          }
        }
      }
    }
  }
  #folder-tree {
    width: 100%;
    @include flex(row, normal, normal, 0rem);
    flex-wrap: wrap;
    font-size: 1.2rem;
    @include lg {
      font-size: 1.5rem;
    }
    p {
      &:hover {
        cursor: pointer;
        text-shadow: 0 0 0.5rem var(--primary);
      }
    }
  }
  .create-new-folder {
    @include flex(row, normal, center, 1rem);
    color: var(--base-content);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2rem;
    @include lg {
      font-size: 1.5rem;
    }
    font-weight: bold;
    padding: 0.5rem 1rem;
    @include transition(0.3s);
    :first-child {
      @include transition(0.3s);
      color: var(--primary);
    }
    &:hover {
      :first-child {
        color: var(--base);
      }
      color: var(--base);
      background-color: var(--primary);
    }
  }
  .create-new-folder-form {
    @include flex(column, center, center, 1rem);
    @include lg {
      @include flex(row, center, normal, 1rem);
    }
    width: 100%;
    font-size: 1.2rem;
    @include lg {
      font-size: 1.5rem;
    }
    input {
      width: 100%;
      @include lg {
        width: 50%;
      }
      border: 1px solid var(--base);
      border-radius: 0.5rem;
      background-color: var(--base3);
      color: var(--base-content);
      padding: 0.5rem 1rem;
      @include transition(0.3s);
    }
    div {
      @include flex(row, normal, center, 1rem);
    }
    .create-new-folder-cancel {
      @include flex(row, normal, center, 1rem);
      color: var(--base-content);
      border: 1px solid var(--error);
      border-radius: 0.5rem;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.2rem;
      @include lg {
        font-size: 1.5rem;
      }
      font-weight: bold;
      padding: 0.5rem 1rem;
      @include transition(0.3s);
      &:hover {
        color: var(--base);
        background-color: var(--error);
      }
    }
  }
  .preview-container {
    @include flex(column, center, center, 1rem);
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem;
    @include md {
      @include flex(row, normal, center, 1rem);
    }
    .preview-error {
      @include flex(row, normal, center, 1rem);
      color: var(--error);
      font-size: 1.2rem;
      @include lg {
        font-size: 1.5rem;
      }
      font-weight: bold;
    }
    .preview {
      margin: auto;
      width: 90%;
      @include md {
        width: 45%;
      }
      @include lg {
        width: 20%;
      }
      @include flex(column, normal, normal, 1rem);
      .img-preview {
        width: 100%;
        height: 10rem;
        border-radius: 0.5rem;
        object-fit: cover;
        @include lg {
          height: 15rem;
        }
      }
      .name-preview {
        width: 100%;
        height: 10rem;
        color: var(--base-content);
        font-size: 1.2rem;
        @include lg {
          font-size: 1.4rem;
          height: 15rem;
        }
        font-weight: bold;
      }
      .status-preview {
        width: 100%;
        @include flex(row, space-around, normal, 0);
        color: var(--base-content);
        font-size: 1.2rem;
        @include lg {
          font-size: 1.5rem;
        }
        font-weight: bold;
        padding: 0.5rem 1rem;
        height: 2rem;
        span {
          cursor: pointer;
        }
      }
    }
  }
  .input-without-file {
    width: 100%;
    min-height: 120px;
    margin-bottom: 1rem;
    @include flex(column, center, center, 1rem);
    flex-grow: 1;
    color: var(--base-content);
    font-size: 1.2rem;
    @include lg {
      font-size: 1.5rem;
    }
    font-weight: bold;
    &:hover {
      cursor: pointer;
      background-color: var(--base);
    }
  }
  .dropzone-footer {
    width: 100%;
    @include flex(row, center, center, 1rem);
    color: var(--base-content);
    font-size: 1.5rem;
    font-weight: bold;
    @include lg {
      font-size: 2rem;
    }
    .send-files,
    .add-file {
      @include flex(row, normal, center, 1rem);
      color: var(--base-content);
      border: 1px solid var(--primary);
      border-radius: 0.5rem;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
      @include transition(0.3s);
      &:hover {
        background-color: var(--primary);
        color: var(--base);
      }
    }
    .add-file {
      border: 1px solid var(--warning);
      &:hover {
        background-color: var(--warning);
        color: var(--base);
      }
    }
  }

  .share-modal {
    input[type="number"] {
      width: 100%;
      border: 1px solid var(--base-content);
      border-radius: 0.5rem;
      background-color: var(--neutral);
      color: var(--neutral-content);
      padding: 0.5rem 1rem;
      @include transition(0.3s);
      &:focus {
        outline: none;
        border: 1px solid var(--primary);
      }
      @include md {
        width: 50%;
      }
    }
    .copy-share-modal {
      background-color: transparent;
      color: var(--base-content);
      border-radius: 0.5rem;
      @include transition(0.3s);
      padding: 0.5rem 1rem;
      border: 1px solid var(--warning);
      &:hover {
        cursor: pointer;
        background-color: var(--warning);
        color: var(--neutral);
      }
    }
    .close-share-modal {
      background-color: transparent;
      color: var(--base-content);
      border-radius: 0.5rem;
      @include transition(0.3s);
      padding: 0.5rem 1rem;
      border: 1px solid var(--error);
      &:hover {
        cursor: pointer;
        background-color: var(--error);
        color: var(--neutral);
      }
    }
  }
  .delete-modal,
  .share-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(#4c566a, 0.8);
    font-size: 1rem;
    @include md {
      font-size: 1.2rem;
    }
    @include lg {
      font-size: 1.5rem;
    }
    text-align: center;
    div:first-child {
      width: fit-content;
      height: fit-content;
      @include flex(column, center, center, 1rem);
      background-color: var(--base3);
      border-radius: 0.5rem;
      border: none;
      padding: 1rem;
      @include transition(0.3s);
      @include lg {
        width: 50%;
      }
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .delete-modal-buttons,
      .share-modal-buttons {
        @include flex(row, center, center, 1rem);
        border: none;
        button {
          padding: 0.5rem 1rem;
          @include transition(0.3s);
          border-radius: 0.5rem;
          background-color: var(--base3);
        }

        button:last-child {
          border: 1px solid var(--warning);
          color: var(--base-content);
          font-weight: bold;
          &:hover {
            color: var(--neutral);
            background-color: var(--warning);
          }
        }
      }
      .share-modal-buttons {
        button:first-child {
          border: 1px solid var(--primary);
          color: var(--base-content);
          font-weight: bold;
          &:hover {
            color: var(--neutral);
            background-color: var(--primary);
          }
        }
      }
      .delete-modal-buttons {
        button:first-child {
          border: 1px solid var(--error);
          color: var(--base-content);
          font-weight: bold;
          &:hover {
            color: var(--neutral);
            background-color: var(--error);
          }
        }
      }
    }
  }
  .selectMenu,
  .selectBtn,
  .deleteBtn {
    border: 1px solid var(--warning);
    background-color: var(--base3);
    color: var(--base-content);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    @include transition(0.3s);
    position: relative;
    font-weight: bold;
    &:hover {
      background-color: var(--warning);
      color: var(--neutral);
      cursor: pointer;
    }
    .selectMenuContent {
      @include flex(column, normal, center, 0.5rem);
      padding: 0.5rem;
      border: 1px solid var(--base-content);
      border-radius: 0.5rem;
      position: absolute;
      top: 2.5rem;
      right: 0;
      background-color: var(--base3);
      width: 10rem;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 50;
    }
  }
  .deleteBtn {
    border: 1px solid var(--error);
    @include transition(0.3s);
    &:disabled:hover {
      cursor: not-allowed;
      background-color: transparent;
    }
    &:enabled:hover {
      background-color: var(--error);
      color: var(--neutral);
      cursor: pointer;
    }
  }
}
#profile {
  @include flex(column, normal, center, 1rem);
  width: 100%;
  flex-grow: 1;
  .profile-nav {
    @include flex(column, normal, center, 1rem);
    width: 100%;
    @include lg {
      @include flex(row, space-around, normal, 1rem);
      width: 75%;
    }
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--base-content);
    li {
      flex-grow: 1;
      text-align: center;
      padding: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      @include transition(0.3s);
      font-size: 1.5rem;
      @include md {
        font-size: 2rem;
      }
      font-weight: bold;
      &:hover {
        color: var(--primary);
      }
    }
    .active {
      color: var(--primary);
      text-decoration: underline;
      background-color: var(--base3);
    }
  }
  .profile-stats {
    width: 100%;
    flex-grow: 1;
    @include flex(row, space-around, center, 1rem);
    @include transition(0.3s);
    flex-wrap: wrap;
    .stats-card {
      @include flex(column, center, center, 1rem);
      flex-grow: 1;
      width: 100%;
      @include lg {
        width: 40%;
      }
      background-color: var(--base3);
      border-radius: 0.5rem;
      border: 1px solid var(--base-content);
      @include transition(0.3s);
      margin: 1rem;
      padding: 2rem;
      span {
        font-weight: bold;
        font-size: 1.5rem;
        @include md {
          font-size: 1.8rem;
        }
        @include lg {
          font-size: 2rem;
        }
        color: var(--primary);
      }
    }
  }
  .profile-account {
    @include flex(column, normal, center, 1rem);
    display: none;
    @include transition(0.3s);
    width: 100%;
    flex-grow: 1;
    @include lg {
      width: 75%;
    }
    div {
      @include flex(column, normal, center, 1rem);
      @include lg {
        @include flex(row, space-around, normal, 1rem);
      }
    }
    .account-form,
    .edit-account-form {
      background-color: var(--base3);
      border-radius: 0.5rem;
      padding: 1rem;
      @include flex(column, normal, center, 1rem);
      width: 100%;
      p {
        font-size: 1rem;
        @include md {
          font-size: 1.2rem;
        }
        @include lg {
          font-size: 1.5rem;
        }
      }
      .title {
        font-weight: bold;
        color: var(--primary);
        text-decoration: underline;
        align-self: flex-start;
      }
      .content {
        align-self: flex-start;
      }
      input {
        width: 80%;
        @include md {
          width: 50%;
        }
        border: 1px solid var(--base);
        border-radius: 0.5rem;
        background-color: var(--base);
        color: var(--base-content);
        padding: 0.5rem 1rem;
        @include transition(0.3s);
      }
    }
    .edit-info {
      background-color: transparent;
      color: var(--base-content);
      border-radius: 0.5rem;
      @include transition(0.3s);
      padding: 0.5rem 1rem;
      border: 1px solid var(--warning);
      &:hover {
        cursor: pointer;
        background-color: var(--warning);
        color: var(--neutral);
      }
    }
    .cancel-edit,
    .delete-account {
      background-color: transparent;
      color: var(--base-content);
      border-radius: 0.5rem;
      @include transition(0.3s);
      padding: 0.5rem 1rem;
      border: 1px solid var(--error);
      &:hover {
        cursor: pointer;
        background-color: var(--error);
        color: var(--neutral);
      }
    }
    .save-edit {
      background-color: transparent;
      color: var(--base-content);
      border-radius: 0.5rem;
      @include transition(0.3s);
      padding: 0.5rem 1rem;
      border: 1px solid var(--success);
      &:hover {
        cursor: pointer;
        background-color: var(--success);
        color: var(--neutral);
      }
    }
  }
  .profile-shares {
    @include flex(column, center, center, 1rem);
    display: none;
    @include transition(0.3s);
    width: 100%;
    flex-grow: 1;
    table {
      overflow-x: auto;
      max-width: 100%;
      border-collapse: collapse;
      border-spacing: 0;

      th,
      td {
        padding: 0.5rem;
        border: 1px solid var(--base-content);
        text-align: center;
      }

      th {
        background-color: var(--base);
        color: var(--base-content);
      }

      tbody tr:nth-child(even) {
        background-color: var(--base);
      }

      td:last-child {
        :first-child {
          margin-right: 0.2rem;
        }
      }

      th,
      td {
        @include transition(0.3s);
        font-size: 0.8rem;
        @include sm {
          font-size: 1rem;
        }
      }
    }
    .copy-link,
    .delete-link {
      background-color: transparent;
      color: var(--base-content);
      border-radius: 0.5rem;
      @include transition(0.3s);
      padding: 0.5rem 1rem;
    }
    .copy-link {
      border: 1px solid var(--warning);
      &:hover {
        background-color: var(--warning);
        color: var(--neutral);
      }
    }
    .delete-link {
      border: 1px solid var(--error);
      &:hover {
        background-color: var(--error);
        color: var(--neutral);
      }
    }
    .valid-link {
      color: var(--success);
    }
    .expired-link {
      color: var(--error);
    }
  }
  .delete-account-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(#4c566a, 0.8);
    font-size: 1rem;
    @include md {
      font-size: 1.2rem;
    }
    @include lg {
      font-size: 1.5rem;
    }
    text-align: center;
    div:first-child {
      width: fit-content;
      height: fit-content;
      @include flex(column, center, center, 1rem);
      background-color: var(--base3);
      border-radius: 0.5rem;
      padding: 1rem;
      @include transition(0.3s);
      @include lg {
        width: 50%;
      }
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include sm {
        transform: translate(-75%, -50%);
      }
      @include lg {
        transform: translate(-100%, -50%);
      }
      .delete-modal-buttons {
        @include flex(row, center, center, 1rem);
        button {
          padding: 0.5rem 1rem;
          @include transition(0.3s);
          border-radius: 0.5rem;
          background-color: var(--base3);
        }
        button:first-child {
          border: 1px solid var(--error);
          color: var(--base-content);
          font-weight: bold;
          &:hover {
            color: var(--neutral);
            background-color: var(--error);
          }
        }
        button:last-child {
          border: 1px solid var(--warning);
          color: var(--base-content);
          font-weight: bold;
          &:hover {
            color: var(--neutral);
            background-color: var(--warning);
          }
        }
      }
    }
  }
}
